{% extends "layout.html" %}

 {% block title %} 
tweet_form
{% endblock %}

{% block content %}
{% comment %} <h1 class=" text-center mt-4"> Welcome to My django's tweet_project</h1> {% endcomment %}

<h2 class="text-center">
    {% if form.instance.pk %}
    Edit Tweet
    {% else %}
    Create Tweet 
    {% endif %}
   
</h2>
<form  class="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    {{ form.as_p }}

    <button class="btn btn-warning" type="submit"> 
        Submit
    </button>
    <a href="{% url "tweet_list" %}"> Back to Tweet List </a>
</form>



{% endblock %}